{% extends 'base.html' %}
{% block title %}
    {{ table_name }} の構造
{% endblock %}
{% block contents %}
    <main class="page page--sql">
        <section class="section section--result">
            <h1 class="heading heading--xl">{{ table_name }} の構造</h1>
            <div class="table table--result">
                <thead>
                    <tr>
                        {% for col in columns %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </div>
        </section>
    </main>
{% endblock %}